

body1 {
  font-family: Arial, sans-serif;
  /* background-color: #f0f0f0; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: left;
}
.message-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  z-index: 999;
}

.message-bar.show {
  opacity: 1;
}

.message-bar.hide {
  opacity: 0;
  pointer-events: none;
}
